/coverage
/node_modules
/public/hot
/public/storage
/public/css/
/public/js/
/public/mix_manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.php_cs.cache
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
